<div style="height: 100%; width: 100%;">
    <div style=" margin-right: 20%; margin-left: 20%; margin-bottom: 16px">
        <label style=" color: white;">BUDGET: </label>
        <input  style="width: 100%; height: 25px; margin-top: 8px; color: gray; background-color: white"
                type="text" id="budgetInput"/>
    </div>
    <div style=" margin-right: 20%; margin-left: 20%; margin-bottom: 16px">
        <label style=" color: white;">CATEGORY: </label>
        <input  style="width: 100%; height: 25px; margin-top: 8px; color: gray; background-color: white"
                type="text" id="categoryInput"/>
    </div>
    <div style=" margin-right: 20%; margin-left: 20%;">
        <label style="color: white">WEB PAGE URL: </label>
        <input  style="width: 100%; height: 25px; margin-top: 8px; color: gray; background-color: white"
                type="text" id="pageUrlInput"/>
        </div>
    <div style=" margin-right: 20%; margin-left: 20%; margin-bottom: 16px">
        <label style=" color: white;">AD URL: </label>
        <input  style="width: 100%; height: 25px; margin-top: 8px; color: gray; background-color: white"
                type="text" id="adUrlInput"/>
    </div>
    <div style=" margin-right: 20%; margin-left: 20%; margin-bottom: 16px">
        <label style=" color: white;">PRICE FOR ONE CLICK: </label>
        <input  style="width: 100%; height: 25px; margin-top: 8px; color: gray; background-color: white"
                type="text" id="priceForOneClick"/>
        <button data-dojo-attach-point="submitButton"
                style="color: white; background-color: gray; width: 150px; height: 50px; margin-top: 16px">SUBMIT</button>
    </div>
</div>


