<div>
    <input  style="width: 100%; height: 25px; color: white; background-color: lightgray"
            type="text"  name="login" value="" data-dojo-type="dijit/form/TextBox"
            data-dojo-props="trim:true, propercase:true" id="username"/>
    <input  style="width: 100%; height: 25px; color: white; background-color: lightgray"
            type="text"  name="login" value="" data-dojo-type="dijit/form/TextBox"
            data-dojo-props="trim:true, propercase:true" id="password"/>
    <button data-dojo-attach-point="registerButton"
            style="color: white; background-color: lightgray; width: 150px; height: 50px; margin-top: 16px">REGISTER</button>
</div>